@model List<Photo>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Lista zdjęć</h1>
<div>
    @if (Model.Count > 0)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(i => Model[0].Wykonano)
                </th>
                <th>
                    @Html.DisplayNameFor(i => Model[0].Nazwa)
                </th>
                <th>
                    @Html.DisplayNameFor(i => Model[0].Autor)
                </th>
                <th>
                    Akcje
                    <!-- Do sprawdzenia-->
                    <a class="btn btn-primary" asp-controller="Photo" asp-action="Create">Nowy</a>
                </th>
            </tr>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>
                        @item.Wykonano
                    </td>
                    <td>
                        @item.Nazwa
                    </td>
                    <td>
                        @item.Autor
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Photo" asp-action="Update" asp-route-id="@item.Id">Edycja</a>
                        <a class="btn btn-outline-info" asp-controller="Photo" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                        <a class="btn btn-outline-danger" asp-controller="Photo" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }
        </table>
    }
</div>